<p>skill</p>
<table border="0">
    <ul *ngFor="let skill of skill">
        <li>
            <tr>
                <td>{{skill.programacion}}</td> 
            </tr>
            <tr>
                <td>{{skill.pensador}}</td>
            </tr>
            <tr>
                <td>{{skill.resolver_problemas}}</td>
            </tr>
            <tr>
                <td>{{skill.lider}}</td>
            </tr>
            <tr>
                <td>{{skill.creativo}}</td>
            </tr>
            <tr>
                <td>{{skill.comunicativo}}</td>
            </tr>
        </li>
    </ul>

</table>